.file-container {
    border: 1px solid #ced4da;
}


.file-drop-zone-t {
    min-height: 250px !important;
    border: dashed 0.1rem #aaa;
    margin-bottom: 5px;
}

.preview-image {
    padding: 5px;
    height: 6rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.preview-files {
    width: 100%;
    box-shadow: 0 0 2px 2px;
    margin: 10px;
    border-radius: 2px;
}

.file-drop-zone-t:has( > .preview-files) {
    background: red;
}

.custom-file-label::after {
    content: "Examinar" !important;
    background: #007bff !important;
    color: white !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.alert-message-danger {
    padding: .75rem 1.25rem;
    color: #813838;
    background-color: #fee2e1;
    border-color: #fdd6d6;
    margin-bottom: .7rem;
}

.btn-close-alert {
    position: relative;
    top: -70px;
    right: -15px;
}

/* only one file */
.only .file-container {
    padding-bottom: 0.4rem !important;
}

.only .file-container .file-drop-zone-t {
    display: flex;
    justify-content: center;
    align-items: center;
}

.only .file-container .close {
    margin: -20px -15px 0px 0px !important;
    font-size: 1.5rem;
    color: red;
    cursor: pointer;
}

.only .file-container .zoom-preview {
    width: 100%;
    max-width: 100%;
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
}

.only .file-container .preview-image {
    width: auto !important;
    height: auto;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    max-height: 230px;
}

.only .file-container .preview-image .hide-preview {
    display: none;
}

.only .file-container .custom-file {
    width: 100%;
}

.only .file-container .custom-file .custom-file-input {
    display: none;
}

.only .file-container .custom-file .custom-file-label {
    width: 100%;
    cursor: pointer;
}

.only .file-container .custom-file .custom-file-label::after {
    padding: 0.2rem;
    margin-left: 0px;
    width: 100%;
}
 
div.file-drop-zone-t > a.preview-files{
    justify-content: flex-start;
    flex-direction: column;
}

a.preview-files div.file-name-preview {
    display: flex;
    align-items: center
}

a.preview-files{
    width: unset;
}